@import './variables';

// reset
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  background-color: #f1f1f1;
}

a {
  color: #999;
}

p {
  line-height: 1.5em;
}

@each $colorKey, $color in $color {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}


@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// text overflow
.text-ellipse {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// width, height
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

// flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-jc {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}



@each $typeKey, $type in $spacing-types {
  // .m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size*$base-spacing-size;
    }
  }

  // .mx-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size*$base-spacing-size;
      #{$type}-right: $size*$base-spacing-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size*$base-spacing-size;
      #{$type}-bottom: $size*$base-spacing-size;
    }
  }

  // .mt-1
  @each $directionKey, $direction in $spacing-direction {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size*$base-spacing-size;
      }
    }
  }

  .#{$typeKey} {
    #{$type}: 0
  }
}


// button
.btn {
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes ,'sm' ) * $base-font-size;
  padding: 0.2rem 0.6rem;
  &.btn-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: map-get($color, 'primary');
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    background: map-get($color, 'white-1');
    border: 1px solid map-get($color, 'white-2');
    padding: 0.6rem 1rem;
    font-size: 1rem;
  }
}

// nav

.nav {
  display: flex;
  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: .2rem;
    &.active {
      color: map-get($color, 'primary');
      border-bottom-color: map-get($color, 'primary');
    }
  }
  &.nav-inverse {
    .nav-item {
      color: map-get($color, 'white');
      &.active {
        border-bottom-color: map-get($color, 'white');
      }
    }
  }
}

// borders

@each $dir in (top, right, bottom, left) {
  .border-#{$dir} {
    border-#{$dir}: 1px solid $border-color;
  }
}

// sprite
.sprite {
  background: url(../images/index.png) no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  &.sprite-blz {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.sprite-gsz {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 90.483% 15.614%;
  }
  &.sprite-zbsc {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 36.746% 0.924%;
  }
  &.sprite-tyf {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 10.408% 15.517%;
  }
  &.sprite-xrzq {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 89.733% 1.266%;
  }
  &.sprite-rycc {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 36.467% 15.287%;
  }
  &.sprite-mnzzlk {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 9.302% 0.813%;
  }
  &.sprite-wzyd {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.3% 0.927%;
  }
  &.sprite-bbjs {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.sprite-djhj {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.sprite-gzh {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 0 96.207%;
  }
  &.sprite-wxwzt {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.sprite-cyhdy {
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &.sprite-arrow {
    width: 0.7692rem;
    height: 0.7692rem;
    background-position: 38.577% 52.076%;
  }
  &.sprite-play {
    width: 0.9231rem;
    height: 0.6923rem;
    background-position: 32.369% 52.578%;
    // background-size: 90%;
  }
}